.Header {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  background-color: white;
  position: relative;
  &__wrapper {
    display: flex;
    padding-left: 40px;
    align-items: center;
    @media (max-width: 768px) {
      margin-left: 300px;
    }
    &__right {
      display: flex;
      margin-left: 460px;
      &__search {
      }
      &__profile {
        margin-left: 20px;
        // position: absolute;
        right: 20px;
        width: 40px;
        height: 40px;
        color: grey;
        border-radius: 50%;

        background: rgb(247, 247, 247);
        &_image {
          margin: 7px !important;
          cursor: pointer;
        }
      }
    }
    &__title {
      &__logo {
        width: 60px !important;
        height: 50px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .Header {
    width: 90wv;
    &__wrapper {
      margin-left: 80px;
      &__title {
        margin: 10px 0px 0px -100px;
      }
      &__right {
        display: flex;
        margin: 15px 10px 0px 80px;

        &__profile {
          margin-left: 20px;
          right: 20px;
          width: 40px;
          height: 40px;
          & img {
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}
