.Header {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: white;

  &__wrapper {
    display: flex;
    margin-left: 200px;
    // justify-content: space-evenly;
    // align-items: center;

    @media (max-width: 768px) {
      margin-left: 300px;
    }
    &__right {
      display: flex;
      margin: 15px 60px 0px 480px;
      &__search {
        // margin: 10px 20px 0 400px;
      }
      &__profile {
        margin-left: 20px;
        // position: absolute;
        right: 20px;
        width: 40px;
        height: 40px;
        & img {
          border-radius: 50%;
          cursor: pointer;
        }
      }
      // &__search {
      //   margin-left: 10px 20px 0 400px;
      // }
      // &__profile {
      //   // margin: 15px 30px;
      //   // position: absolute;
      //   right: 20px;
      //   width: 40px;
      //   height: 40px;
      //   & img {
      //     border-radius: 50%;
      //     cursor: pointer;
      //   }
    }
    &__title {
      margin-left: 40px;
    }
    &__title > h2 {
      color: rgb(0, 0, 0);
    }
    &__title > p {
      color: rgb(0, 0, 0);
    }
  }
}
@media only screen and (max-width: 768px) {
  .Header {
    width: 90wv;
    margin-left: 70px;
    &__wrapper {
      margin-left: 80px;
      // justify-content: space-evenly;
      // align-items: center;
      &__right {
        display: flex;
        margin: 15px 60px 0px 60px;
        &__search {
          // margin: 10px 20px 0 400px;
        }
        &__profile {
          margin-left: 20px;
          // position: absolute;
          right: 20px;
          width: 40px;
          height: 40px;
          & img {
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}
