.Header {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: white;
  margin-left: 200px;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__title {
      margin-left: 40px;
    }
    &__title > h2 {
      color: rgb(0, 0, 0);
    }
    &__title > p {
      color: rgb(0, 0, 0);
    }
  }
  &__profile {
    margin-top: 15px;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    & img {
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 768px) {
  .Header {
    width: 100%;
    margin-left: 70px;
    &__profile {
      right: 5px;
    }
  }
}
