.bar_container {
  width: 800px;
  height: 250px;

  &__graph {
    &_chart {
      position: relative;
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .bar_container {
    margin-left: -300px;
    width: 500px !important;
    height: 300px;
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 480px) {
  .bar_container {
    margin-left: 10px;
    width: 500px !important;
    height: 300px;
    overflow-x: scroll;
  }
}
