.Content__wrapper__tabs {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: row;
    width: 100%;
    margin-left: 100px;
    .Content__wrapper__tabs__right {
      margin-left: -115px;
      &__in {
        font-size: 15px;
        &__one {
          padding: 10px 10px 5px 5px;
        }
        &__two {
          padding: 10px 10px 5px 10px;
        }
      }
      &__dot {
        &__out {
          margin-left: -5px;
        }

        h3 {
          font-size: 15px;
          margin-top: -5px;
        }
      }
    }
    .Content__wrapper__tabs__left {
      h2 {
        font-size: 20px;
      }
      h1 {
        font-size: 25px;
      }
    }
  }
  &__left {
    margin-left: -80px;
    margin-right: 80px;
    h2 {
      font-weight: bold;
    }
    span {
      color: #718096;
    }
    h1 {
      font-size: 40px;
    }

    flex-basis: 50%;
  }
  &__right {
    margin-left: -80px;
    &__in {
      margin-bottom: 20px;
      font-size: medium;
      font-weight: bolder;
      margin-right: 70px;
      &__one {
        text-align: center;
        padding: 15px 25px;
        border: 1px solid rgb(83, 182, 131);
        border-radius: 10px 0 0 10px;
      }
      &__two {
        background: rgb(227, 226, 226);
        text-align: center;
        padding: 15px 25px;
        border-radius: 0 10px 10px 0;
      }
    }
    &__in {
      display: flex;
    }
    &__dot {
      display: flex;
      h3 {
        margin: -10px 15px;
      }
      &__in {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(75, 192, 192, 1);
      }
      &__out {
        width: 10px;
        height: 10px;
        margin-left: 60px;
        border-radius: 50%;
        background-color: rgba(75, 192, 192, 1);
      }
    }
  }
}
