.charts__sales__expenses {
  margin-left: 0px;
  &__amount {
    display: flex;
    width: 400px;
    &__left {
      align-self: flex-start;
      span {
        color: grey;
        font-weight: 500;
      }
    }
    &__right {
      margin-left: 120px;
      span {
        color: grey;
        font-weight: 500;
      }
    }
  }
  &__progress {
    width: 400px;
    height: 40px;
    background: rgb(246, 246, 246);
    border-radius: 15px;
    &__bar {
      background: rgb(83, 182, 131);
      height: 100%;
      width: 20%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .charts__sales__expenses {
    margin: 350px 20px 50px -200px;
  }
}
