.navContainer {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #fff;
  box-shadow: 3px 0px 6px 0px rgba(231, 227, 227, 0.75);

  .logo {
    padding: 10px;
    margin-left: 0px 0px 30px 20px;
  }
  .create > span {
    width: 200px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    background-color: rgb(143, 212, 175);
    padding: 15px 25px;
  }
  .wrapper {
    margin-top: 50px;
    padding: 10px;
    z-index: 1;
  }
  .wrapper > ul {
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 20px;
  }
  .wrapper > ul > li {
    list-style: none;
    gap: 50px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.6;
    font-size: medium;
  }
  .wrapper > ul > li > a {
    color: #718096;
    gap: 100px;
  }
  .wrapper > ul > li > a:hover {
    color: rgb(39, 134, 121) !important;
    font-size: large;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 768px) {
  .navContainer {
    width: 70px;
  }
  .logo > h2 {
    opacity: 0;
  }
  .logo {
    background: url("../../public/logo.png");
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
  }
  .wrapper > ul {
    gap: 5px;
  }
  .wrapper > ul > li:hover {
    color: #35517c;
  }
  .wrapper > ul > li > a {
    opacity: 0;
  }
}
