.doughnut_container {
  display: flex;
  margin-right: -150px;
  &__right {
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
    .sub_title {
      margin-bottom: 15px;
    }
    .last_month {
      color: grey;
      font-weight: 500;
      margin-top: 10px;
    }
  }
  &__leftside {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    &__data {
      display: flex;
      h2 {
        margin-top: 0;
      }
      p {
        margin: 30px -80px;
        color: #718096;
        font-size: large;
      }
      &__dot {
        margin: 10px 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .doughnut_container {
    margin: 0px 20px 50px -200px;
  }
}
@media only screen and (max-width: 480px) {
  .doughnut_container {
    margin-left: -20px;
  }
}
