.Content {
  display: flex;
  flex-direction: column;
  margin: 15px 100px 100px 200px;
  width: 85 vw;
  overflow: auto;

  &__wrapper {
    display: grid;
    padding: 32px;
    gap: 40px;
    width: auto;
    // overflow-x: none;
  }
  .charts {
    display: flex;
    flex-direction: column;
    &__sales {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px 0px 0px 0px;

      &__progressbar {
        display: flex;
        flex-direction: column;
        // margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Content {
    margin-left: 70px;
    overflow-x: auto;
    // display: flex;
    // flex-direction: column;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 40px;
      &__tabs {
        width: 350px;
        align-items: center;
        margin-left: 60px;
      }
    }
    .charts {
      // display: flexbox;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;

      &__sales > h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
      }

      &__sales {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
      }
    }
  }
}
