.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 20%;
  width: 100%;

  &__wrapper {
    margin: 10px 0px 32px 160px;
    width: 100%;
  }
  .charts {
    display: flex;
    flex-direction: column;
    &__sales {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px 0px 0px 0px;

      &__progressbar {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Content {
    margin-left: 70px;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 40px;
      &__tabs {
        width: 350px;
        align-items: center;
        margin-left: 60px;
      }
    }
    .charts {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;

      &__sales {
        margin: 100px 10px 10px 0px;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .Content {
    width: 150px;
  }
}
